@font-face {
  font-family: 'balooregular';
  src: url('fonts/baloo-regular-webfont.woff2') format('woff2'),
    url('fonts/baloo-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'alex_brushregular';
  src: url('fonts/alexbrush-regular-webfont.woff2') format('woff2'),
    url('fonts/alexbrush-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

.bytesized-regular {
  font-family: "Bytesized", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.minecraft {
  font-family: "Bytesized", sans-serif;
}

/* General setup */

html {
  font-size: 10px;
  margin: 0;
  font-family: sans-serif;
}

body {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

/* Typography */

h1 {
  font-size: 4.2rem;
  font-family: "balooregular", sans-serif;
  font-weight: 10;
}

h2 {
  font-size: 2.4rem;
  font-family: "balooregular", sans-serif;
}

p {
  font-size: 2.4rem;
  line-height: 1.6;
  word-spacing: 0.6rem;
  font-family: "alex_brushregular", sans-serif;
}