:root {
  --nice-font: Arial, Helvetica, sans-serif;
  --light-grey: rgb(206, 206, 206);
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--nice-font);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img-carousel-parent {
  position: relative;
}

img {
  height: 400px;
}

.img-container {
  display: none;
}

.img-container.active {
  display: block;
}

.arrows-parent {
  position: absolute;
  top: 35%;
  left: -20px;
  right: -20px;
  display: flex;
  justify-content: space-between;
}

.arrow-container {
  padding: 10px;
  background-color: var(--light-grey);
  width: fit-content;
  opacity: 0.6;
}

.arrow-container:hover {
  opacity: 1;
  cursor: pointer;
}

.arrow-right,
.arrow-left {
  border-bottom: 20px solid transparent;
  border-top: 20px solid transparent;
}

.arrow-right {
  border-left: 30px solid grey;
}

.arrow-left {
  border-right: 30px solid grey;
}

ol {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 15px;
}

li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--light-grey);
  opacity: 0.5;
}

li:hover {
  cursor: pointer;
  opacity: 1;
}

li.active {
  opacity: 1;
}