*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0  auto;
  padding: 2rem 0%;
  width: 40%;
}

fieldset {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

fieldset div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 1em;
}

label,
input {
  width: 100%;
  height: 2rem;
}

label[for="billing-checkbox"] {
  display: flex;
  align-items: center;
  width: auto;
  margin-right: 1rem;
}

input[type="checkbox"] {
  width: auto;
  height: auto;
}

input[type="text"]:disabled {
  background: #eee;
  border: 1px solid #ccc;
}

label:has(+ :disabled) {
  color: #aaa;
}