body {
  color: #292929;
  font: 1em/1.7 "Open sans", sans-serif;
}

/* type styles */
blockquote {
  font: italic 1.1em/2 "Playfair Display", serif;
}

/* cta */
.cta {
  padding: 100px 0 100px 20%;
}

.cta h1 {
  font: bold 6em/1 "Playfair Display", serif;
  margin: 0 0 20px 0;
  position: relative;
}

/* button styles */
.button {
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: #292929;
  padding: .8em 1.5em;
}

.button:hover {
  background: black;
}

/* strapline + blockquote */
.strapline {
  margin-top: 100px;
  position: relative;
}

.strapline::before {
  content: "";
  display: block;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/wavy.svg) repeat-x;
  background-size: cover;
  width: 20%;
  height: .5em;
  position: absolute;
  top: -3em;
  left: 40%;
}

/* heading */
.cta h1::before {
  content: "";
  display: block;
  height: 1em;
  width: 1em;
  /* https://elements.envato.com/retro-badges-7B35YA */
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/badge.svg) no-repeat center center;
  background-size: 80%;
  position: absolute;
  left: -120px;
  top: 0;
}

/* grid layout */
.grid1 {
  display: grid;
  grid-template-columns: 3fr 6fr 1fr 5fr 10fr 2fr;
  grid-template-rows: 100px auto 15px auto auto;
}

.img1 {
  /* could use `object-fit: cover;` on an img, but tricky*/
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/wooden.jpg);
  background-size: cover;

  grid-column: 1 / span 2;
  grid-row: 2 / span 3;
}

.img2 {  
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/speaker.jpg);
  background-size: cover;
  
  grid-column: 2 / span 2;
  grid-row: 3 / span 3;
}

.img3 {  
  /* https://elements.envato.com/gradient-network-wave-backgrounds-L5PGKP */
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/waves.jpg);
  background-size: cover;
  
  grid-column: 5 / span 2;
  grid-row: 4 / span 2;
}

.strapline {
  grid-column: 3 / span 3;
  grid-row: 2 / span 1;

  padding: 0 16%;
  text-align: center;
  margin: 0;
}

.cta-wrapper {
  grid-column: 4 / span 2;
  grid-row: 4 / span 2;
}